{
  "indexFolder": "/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/AP88",
  "w2v_model": "/home/thiziri/Documents/DOCTORAT/COLLECTION/googleModel/AP88_cbow_wordEmbedding_dim300_win10_minCount5.bin",
  "stoplist": true,
  "output": "/home/thiziri/Desktop",
  "alpha": 5,
  "num_threads": 4,
  "if_pseudo_tf": true,
  "cptf": false
}