{
  "indexFolder": "/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/AP88",
  "w2v_model": "/home/thiziri/Documents/DOCTORAT/COLLECTION/googleModel/AP88_cbow_wordEmbedding_dim300_win10_minCount5.bin",
  "stoplist": true,
  "topics": "/home/thiziri/Documents/DOCTORAT/COLLECTION/TOPICS/AP88",
  "steming": "krovetz",
  "model": "LM",
  "outputfolder": "/home/thiziri/Desktop/this",
  "sim_model": "eq3",
  "collection_name": "AP88",
  "alpha": 7,
  "num_res": 1000,
  "k1": 1.2,
  "k3": 1.2,
  "b": 0.75,
  "lambda": 0.4,
  "lambda1": 0.5,
  "lambda2": 0.3,
  "c_lambda": 0.2,
  "d_lambda": 0.4,
  "sim_threshold": 0.7,
  "if_pseudo_tf": false,
  "tf_C": "path/to/npy/dict/id2ptf",
  "tf_D": "/home/thiziri/Desktop/this/id2dtf_tf.npy"
}